<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <property name="LOGS" value="./logs" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/spring.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>utf-8</charset>
            <Pattern>%d{ISO8601} %-5level [%thread] %logger{36}: %msg%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/spring.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>16MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>31</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <charset>utf-8</charset>
            <Pattern>
                %d{ISO8601} %highlight(%-5level) [%magenta(%thread)] %green(%-50.50logger{36}) - %cyan(%msg) %n%throwable
            </Pattern>
        </layout>
    </appender>

    <root level="${logging.level.root}">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
